<h3>Ready to start the hiLo game? Enter your name and get started!</h3>
<form action="index.html" method="get">
  <input type="text" name="playerName" value="">
  <a href="http://localhost:3000/answers"><input type="submit" value="" placeholder="Start game"></a>
</form>
