<h1>lets check password</h1>
<form action="check_password" method="get">
  <input type="userID" name="userID" value="" placeholder="userID"> <br>
  <input type="password" name="password" value="" placeholder="password"> <br>
  <input type="submit" name="" value="SUBMIT">
</form>

<%= @userID %> <br> <%= @password %>
